@using MyRecipe.Models.Recipes
@model MyRecipe.Models.Recipes.Recipe

@{
    ViewData["Title"] = "Create";
     List<Traditional> Traditionals = ViewBag.Traditionals;
}

<h2 class="text-center">New recipe</h2>
<hr />
<div class="d-flex justify-content-center">
    <div class="col-md-8">
        <form asp-action="Create" enctype="multipart/form-data">
            <h4 class="text-center">Recipe</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-start flex-row mb-2">
                <div class="form-group flex-grow-1 me-2">
                    <label asp-for="TraditionalId" class="control-label"></label>
                    <select asp-for="TraditionalId" class="form-control ps-2" asp-items="@(new SelectList(Traditionals, "Id", "Name"))">
                        <option value="" selected disabled hidden></option>
                        @*@if (Traditionals != null)
                        {
                            foreach (var item in Traditionals)
                            {
                                <option value="@item.Id" @if(){item.Id==Model.Trad ? "selected" : ""}>@item.Name</option>
                            }*@
                        }
                    </select>
                    <span asp-validation-for="TraditionalId" class="text-danger"></span>
                </div>
                <div class="form-group flex-grow-1">
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Type" class="form-control ps-2" asp-items="@Html.GetEnumSelectList<RecipeType>()">
                        <option value="" selected disabled hidden></option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>

                </div>
            </div>
            <div class="col-12 d-flex justify-content-between flex-row mb-2">
                <div class="form-group col-2">
                    <div><i class="fa-solid fa-star me-2"></i><label asp-for="Difficulty" class="control-label"></label></div>
                    <input asp-for="Difficulty" class="form-control" />
                    <span asp-validation-for="Difficulty" class="text-danger"></span>
                </div>
                <div class="form-group col-2">
                    <div><i class="fa-solid fa-people-group me-2"></i><label asp-for="PeopleFor" class="control-label"></label></div>
                    <input asp-for="PeopleFor" class="form-control" />
                    <span asp-validation-for="PeopleFor" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <div><i class="fa-solid fa-clock me-2"></i><label asp-for="PreparationTime" class="control-label"></label></div>
                    <input asp-for="PreparationTime" class="form-control" placeholder="Minutes" />
                    <span asp-validation-for="PreparationTime" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <div><i class="fa-solid fa-temperature-high me-2"></i><label asp-for="CookingTime" class="control-label"></label></div>
                    <input asp-for="CookingTime" class="form-control" placeholder="Minutes" />
                    <span asp-validation-for="CookingTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-12">
                <label asp-for="ImageFile" class="control-label d-block"></label>
                <input class="form-control" asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="col-12 mt-3 d-flex flex-row mb-1">
                <h4 class="flex-grow-1 mb-0">Ingredients</h4>
                <div class="d-flex justify-content-center">
                    <div id="btn-add-ingredient" class="btn btn-sm btn-success me-2"><i class="fa-solid fa-plus me-2"></i>Add</div>
                    <div id="btn-rmv-ingredient" class="btn btn-sm btn-warning"><i class="fa-solid fa-trash me-2"></i>Remove</div>
                </div>
            </div>
            <div id="IngredientsContainer">
                @if (Model == null || Model?.Ingredients.Count == 0)
                {
                    <input type="hidden" id="IngredientsCount" value="1" />
                    <div class="Ingredient col-12 d-flex flex-row justify-content-between">
                        <div class="form-group col-8 me-1">
                            <label asp-for="Ingredients[0].Name" class="control-label"></label>
                            <input asp-for="Ingredients[0].Name" class="form-control" />
                            <span asp-validation-for="Ingredients[0].Name" class="text-danger"></span>
                        </div>
                        <div class="flex-grow-1 d-flex flex-row justify-content-end">
                            <div class="form-group flex-grow-1">
                                <label asp-for="Ingredients[0].Quantity" class="control-label"></label>
                                <input asp-for="Ingredients[0].Quantity" class="form-control" value="1" />
                                <span asp-validation-for="Ingredients[0].Quantity" class="text-danger"></span>
                            </div>
                            <div class="form-group col-6 ms-1">
                                <label asp-for="Ingredients[0].Unit" class="control-label"></label>
                                <select asp-for="Ingredients[0].Unit" class="form-control ps-2 IngredientUnitReferrer" asp-items="@Html.GetEnumSelectList<IngredientUnit>()"></select>
                                <span asp-validation-for="Ingredients[0].Unit" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <input type="hidden" id="IngredientsCount" value="@Model.Ingredients.Count" />

                    var i = 0;
                    foreach (var ingredient in Model.Ingredients)
                    {
                        <div class="Ingredient col-12 d-flex flex-row justify-content-between">
                            <div class="form-group col-8 me-1">
                                <label asp-for="Ingredients[i].Name" class="control-label"></label>
                                <input asp-for="Ingredients[i].Name" class="form-control" />
                                <span asp-validation-for="Ingredients[i].Name" class="text-danger"></span>
                            </div>
                            <div class="flex-grow-1 d-flex flex-row justify-content-end">
                                <div class="form-group flex-grow-1">
                                    <label asp-for="Ingredients[i].Quantity" class="control-label"></label>
                                    <input asp-for="Ingredients[i].Quantity" class="form-control" />
                                    <span asp-validation-for="Ingredients[i].Quantity" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6 ms-1">
                                    <label asp-for="Ingredients[i].Unit" class="control-label"></label>
                                    <select asp-for="Ingredients[i].Unit" class="form-control ps-2 IngredientUnitReferrer" asp-items="@Html.GetEnumSelectList<IngredientUnit>()"></select>
                                    <span asp-validation-for="Ingredients[i].Unit" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        i++;
                    }
                }
            </div>
            <div class="col-12 mt-3 d-flex flex-row mb-1">
                <h4 class="flex-grow-1 mb-0">Steps</h4>
                <div class="d-flex justify-content-center">
                    <div id="btn-add-step" class="btn btn-sm btn-success me-2"><i class="fa-solid fa-plus me-2"></i>Add</div>
                    <div id="btn-rmv-step" class="btn btn-sm btn-warning"><i class="fa-solid fa-trash me-2"></i>Remove</div>
                </div>
            </div>
            <div id="StepsContainer">
                @if (Model == null || Model?.Ingredients.Count == 0)
                {
                    <input type="hidden" id="StepsCount" value="1" />
                    <div class="Step col-12">
                        <div class="col-12">Step 1</div>
                        <div class="form-group">
                            <textarea asp-for="Steps[0].Description" class="form-control" rows="1"></textarea>
                            <span asp-validation-for="Steps[0].Description" class="text-danger"></span>
                        </div>
                    </div>
                }
                else
                {
                    <input type="hidden" id="StepsCount" value="@Model.Steps.Count" />


                    var j = 0;
                    foreach (var step in Model.Steps)
                    {
                        <div class="Step col-12">
                            <div class="col-12">Step @(j+1)</div>
                            <div class="form-group">
                                <textarea asp-for="Steps[j].Description" class="form-control" rows="1"></textarea>
                                <span asp-validation-for="Steps[j].Description" class="text-danger"></span>
                            </div>
                        </div>
                        j++;
                    }
                }
            </div>
            <div class="col-12 mt-3 d-flex justify-content-center">
                <div class="col-6 d-flex justify-content-end">
                    <input type="submit" value="Submit" class="btn btn-primary me-2" />
                </div>
                <div class="col-6 d-flex justify-content-start">
                    <a class="btn btn-danger ms-2" asp-action="Index">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script src="~/js/RecipeForm.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
