@using MyRecipe.Models.Recipes
@model MyRecipe.Models.Recipes.Recipe

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery csrf

@functions{
    public string GetAntiCsrfToken()
    {
        return csrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{
    ViewData["Title"] = "Details";
    var Traditional = ViewBag.Traditional;
    var LoggedinUser = ViewBag.LoggedinUser;
    string RoleName = ViewBag.RoleName;
    var preparation = (Model.PreparationTime != 0) ? Model.PreparationTime.ToString() : "-";
    var cooking = (Model.CookingTime != 0) ? Model.CookingTime.ToString() : "-";
}

<input type="hidden" id="RequestCsrfToken" name="RequestCsrfToken" value="@GetAntiCsrfToken()"/>
<input type="hidden" asp-for="Id" />

<div class="d-flex">
    <div class="col-8 mx-auto border border-secondary rounded d-flex flex-column align-items-center">

        <h1 class="fw-bold mt-2">@Model.Name</h1>

        <span class="badge rounded-pill bg-success fs-5">@Traditional | @Html.DisplayFor(modelItem => Model.Type)</span>

        <img class="col-11 rounded my-3" alt="Recipe Image" src="~/uploads/recipes/@Model.ImageName" />

        <div class="col-9 mt-2">
            <div class="d-flex justify-content-center align-items-center flex-column">
                <span class="fw-bold d-block text-center mb-1">Difficulty</span>
                <div class="d-flex justify-content-center">
                    @for (var i = 0; i < Model.Difficulty; i++)
                    {
                        <i class="fa-solid fa-star mx-1"></i>
                    }
                    @for (var i = 0; i < 5 - Model.Difficulty; i++)
                    {
                        <i class="fa-regular fa-star mx-1"></i>
                    }
                </div>
            </div>
            <hr />
            <div class="d-flex justify-content-evenly align-items-center">
                <div><span class="fw-bold d-block text-center">Total time</span>@Model.Duration Minutes</div>
                •
                <div><span class="fw-bold d-block text-center">Preparation</span>@preparation Minutes</div>
                •
                <div><span class="fw-bold d-block text-center">Cooking</span>@cooking Minutes</div>
            </div>
        </div>

        <h2 class="mt-3">Ingredients</h2>

        <div class="d-flex align-items-center">
            <button class="btn btn-warning" id="btn-rmv-people"><i class="fa-solid fa-minus"></i></button>
            <div class="mx-3"><span id="NbrPeople">@Model.PeopleFor</span> People</div>
            <button class="btn btn-success" id="btn-add-people"><i class="fa-solid fa-plus"></i></button>
        </div>

        <div class="col-10 mt-2">
            <table class="table table-secondary table-striped table-hover">
                <thead>
                    <tr>
                        <th class="w-75">Name</th>
                        <th class="w-25">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var j = 0;
                        foreach (var ingredient in Model.Ingredients)
                        {
                            <tr>
                                <td>@ingredient.Name</td>
                                <td>
                                    <span id="IngredientQuantity@(ingredient.Id)">@ingredient.Quantity</span>
                                    <span>@ingredient.DisplayUnit</span>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <h2 class="mt-3">Steps</h2>

        <div class="col-10 mt-2">
            @foreach (var step in Model.Steps)
            {
                <div class="col mb-3">
                    <p class="text-uppercase fw-bold fs-5 mb-1">Step @step.Position</p>
                    <p class="lead" style="text-align: justify;">@step.Description</p>
                </div>
            }


        </div>
    </div>

    @if ((User.Identity.IsAuthenticated && Model.UserID == LoggedinUser.Id) || RoleName == "admin")
    {
        <div class="ms-4 flex-grow-1 d-flex flex-column">
            <div class="border border-secondary rounded p-2">
                @*<h3 class="text-center">Author</h3>
                    <div class="col-11 mx-auto rounded d-flex flex-row p-1 align-items-center mb-3" style="background-color: #D3D3D3;">
                        <div class="ms-1">
                            <img src="~/img/avatar.jpg" class="rounded-circle" height="64px" width="64px" alt="Recipe Creator Avatar"/>
                        </div>
                        <div class="ms-2 flex-grow-1 d-flex flex-column">
                            <div class="fw-bolder">@LoggedinUser.Name</div>
                            <div>3 recipes created</div>
                            <div class="text-muted">Membre depuis le 31 Septembre 2022</div>
                        </div>
                    </div>*@

                <h3 class="text-center">Actions</h3>
                <div class="col-8 mx-auto">
                    @*<button class="mb-4 w-100 btn btn-info"><i class="fa-solid fa-heart me-2"></i>Add to my notebook</button>*@
                    <a class="mb-2 w-100 btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id"><i class="fa-solid fa-pen-to-square me-2"></i>Modify</a>
                    <a class="mb-2 w-100 btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id"><i class="fa-solid fa-trash me-2"></i>Delete</a>
                </div>
            </div>
        </div>
    }


</div>

@section Scripts {
    <script src="~/js/IngredientProportions.js"></script>
}